.splash-container {
	display: flex;
	position: absolute;
	z-index: 10;
	top: 10vh;
	bottom: 10vh;
	left: 10vw;
	right: 10vw;
  border: black 2px solid;
  background-color: #ffffff;
}

.splash-container p {
  padding: 10px;
}

.splash-container-noshow {
	display: none;
}
